@import "modal.scss";

// Load font local file
@font-face {
  font-family: "Karla";
  src: local("Karla"), url(../fonts/Karla-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Roobert";
  src: url("https://wallid-assets.s3.eu-west-3.amazonaws.com/Roobert-Regular.woff") format("woff");
}

.verification-iframe#app {
  ///// FONTS /////

  * {
    font-family: Roobert, Karla;
  }

  h1.title-h1 {
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: normal;
    color: var(--midnight);
  }
  h3.sub-title-h3 {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: var(--midnight);
  }
  h5.sub-title-h5 {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: var(--midnight);
    margin-bottom: 0;
  }

  .normal-text-p {
    font-size: 14px;
    font-family: "Karla" !important;

    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.51;
    letter-spacing: normal;
    color: var(--midnight);
    margin-bottom: 0;
  }

  .bold-text-p {
    font-size: 13px;
    font-family: "Karla" !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.51;
    letter-spacing: normal;
    color: var(--midnight);
    margin-bottom: 0;
  }

  .error-txt {
    color: var(--red-error) !important;
  }

  /// GENERAL DiSPLAY CSS
  ///
  .form-switch {
    color: var(--turquoise-blue) !important;
    caret-color: var(--turquoise-blue) !important;

    .v-input--switch__track {
      color: var(--light-blue-grey) !important;
    }

    .v-input--switch__thumb {
      color: var(--grey) !important;
    }
    &.v-input--is-label-active {
      .v-input--switch__track {
        color: var(--light-sky-blue) !important;
      }
      .v-input--switch__thumb {
        color: var(--turquoise-blue) !important;
      }
    }
  }

  .connect-account .row:not(.id-card-row) {
    border: solid 1px var(--border-color);
    border-bottom: none;

    background-color: rgba(255, 255, 255, 0.3);
    //   .row {
    //     border: solid 1px red;
    //   }

    &:first-child {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }

    &:last-child {
      border-end-start-radius: 16px;
      border-end-end-radius: 16px;
      border-bottom: solid 1px var(--border-color);
    }
  }
}

///
