// Load font local file
@font-face {
  font-family: "Karla";
  src: local("Karla"),
    url(../fonts/Karla-VariableFont_wght.ttf) format("truetype");
}

.verification-iframe#app {
  ///// FONTS /////

  * {
    font-family: Karla;
  }

  .title-h1 {
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    color: var(--midnight);
  }

  .normal-text-p {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.51;
    letter-spacing: normal;
    color: var(--midnight);
    margin-bottom: 0;
  }

  .bold-text-p {
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.51;
    letter-spacing: normal;
    color: var(--midnight);
    margin-bottom: 0;
  }

  /// GENERAL DiSPLAY CSS
  ///
  .form-switch {
    color: var(--turquoise-blue) !important;
    caret-color: var(--turquoise-blue) !important;

    .v-input--switch__track {
      color: var(--light-blue-grey) !important;
    }

    .v-input--switch__thumb {
      color: var(--grey) !important;
    }
    &.v-input--is-label-active {
      .v-input--switch__track {
        color: var(--light-sky-blue) !important;
      }
      .v-input--switch__thumb {
        color: var(--turquoise-blue) !important;
      }
    }
  }
}

///
