:root {
  --midnight: #01022e;
  --white: #ffffff;
  --border-color: #ffffff;
  --turquoise-blue: #00afc5;
  --light-sky-blue: #cceff5;
  --light-blue-grey: #ccccd6;
  --grey: #808097;
  --light-grey: #ebebeb;
}
